<a href="https://colab.research.google.com/github/julianovale/BB_Evolution/blob/main/0008_AluraBB_ML_Intro_ClassificacaoSKLearn_Projeto02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

dados = dados.rename(columns=mapa)

In [3]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]

In [4]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [6]:
dados.shape

(99, 4)

In [7]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

In [8]:
treino_x.shape

(75, 3)

In [9]:
teste_y.shape

(24,)

In [10]:
print("Treinaremos com %d amostras e testaremos com %d amostras" % (len(treino_x), len(teste_x)))

Treinaremos com 75 amostras e testaremos com 24 amostras

In [11]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [12]:
from sklearn.metrics import accuracy_score

previsoes = modelo.predict(teste_x)
print("Acurácia = %.2f%%" % (accuracy_score(teste_y, previsoes)*100))

Acurácia = 95.83%

# Automatizando...

In [24]:
# Modelo completo com split automatizado

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC

SEED = 20 # trava a aleatoriedade (bom para replicar)

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)

print("Treinaremos com %d amostras e testaremos com %d amostras" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)
print("Acurácia = %.2f%%" % (accuracy_score(teste_y, previsoes)*100))

Treinaremos com 74 amostras e testaremos com 25 amostras
Acurácia = 96.00%

In [25]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [26]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

Ver acima, não está proporcional. Melhor estratificar...

# Modelo estratificando...

In [27]:
# Modelo completo com split automatizado

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)

print("Treinaremos com %d amostras e testaremos com %d amostras" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)
print("Acurácia = %.2f%%" % (accuracy_score(teste_y, previsoes)*100))

Treinaremos com 74 amostras e testaremos com 25 amostras
Acurácia = 96.00%

In [28]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [33]:
49/25

1.96

In [29]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

In [34]:
17/8

2.125