<a href="https://colab.research.google.com/github/julianovale/BB_Evolution/blob/main/0032_AluraBB_ClassificacaoTrasPanos02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/julianovale/BB_Evolution/main/Arquivos/acesso.csv'
dados = pd.read_csv(url)
dados.head()

   acessou_home  acessou_como_funciona  acessou_contato  comprou
0             1                      1                0        0
1             1                      1                0        0
2             1                      1                0        0
3             1                      1                0        0
4             1                      1                0        0

In [2]:
X = dados[['acessou_home', 'acessou_como_funciona', 'acessou_contato']]
y = dados['comprou']

In [3]:
X.head()

   acessou_home  acessou_como_funciona  acessou_contato
0             1                      1                0
1             1                      1                0
2             1                      1                0
3             1                      1                0
4             1                      1                0

In [4]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [5]:
X = X.to_numpy()
y = y.tolist()

In [6]:
print(len(X))
# vou separar 90% para treino e 10% para teste

treino_dados = X[:90] # 90 primeiros registros
treino_marcacoes = y[:90]
teste_dados = X[-9:] # últimos 9 registros
teste_marcacoes = y[-9:]

99

In [7]:
print(len(treino_dados))
print(len(treino_marcacoes))
print(len(teste_dados))
print(len(teste_marcacoes))

90
90
9
9

In [8]:
from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)

MultinomialNB()

In [9]:
resultado = modelo.predict(teste_dados)

In [10]:
diferenca = resultado - teste_marcacoes
# se 0 e 0 => 0 - 0 = 0
# se 1 e 1 => 1 - 1 = 0
# se 0 e 1 => 0 - 1 = -1
# se 1 e 0 => 1 - 0 = 1
acertos = [d for d in diferenca if d == 0] # então se eu contar quantos zeros, vou saber meu número de acertos
acuracia = (len(acertos)/len(teste_marcacoes))*100.0
print(acuracia, '%')

88.88888888888889 %