<a href="https://colab.research.google.com/github/julianovale/BB_Evolution/blob/main/0035_AluraBB_ClassificacaoTrasPanos05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
if not os.path.isfile('/content/buscas2.csv'):
  ! wget https://raw.githubusercontent.com/julianovale/BB_Evolution/main/Arquivos/buscas2.csv
! ls

buscas2.csv  Cursos.csv  sample_data

In [2]:
import os
if not os.path.isfile('/content/Cursos.csv'):
  ! wget https://raw.githubusercontent.com/julianovale/BB_Evolution/main/Arquivos/Cursos.csv
! ls

buscas2.csv  Cursos.csv  sample_data

In [3]:
import pandas as pd
df = pd.read_csv('Cursos.csv')
df.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [4]:
df.shape

(1000, 4)

In [5]:
df.columns.ravel()

array(['home', 'busca', 'logado', 'comprou'], dtype=object)

In [6]:
Y = df['comprou']
Y

0      1
1      1
2      1
3      0
4      1
      ..
995    0
996    1
997    1
998    1
999    0
Name: comprou, Length: 1000, dtype: int64

In [7]:
X = df[['home', 'busca', 'logado']]
X

     home       busca  logado
0       0  algoritmos       1
1       0        java       0
2       1  algoritmos       0
3       1        ruby       1
4       1        ruby       0
..    ...         ...     ...
995     0        ruby       0
996     0        ruby       0
997     0        java       1
998     1  algoritmos       0
999     0        ruby       1

[1000 rows x 3 columns]

In [8]:
type(Y)

pandas.core.series.Series

In [9]:
type(X)

pandas.core.frame.DataFrame

In [10]:
Xdummies = pd.get_dummies(X) # 'one hot encoding' no pandas: fácil
Ydummies = Y # não tem variáveis categóricas

In [11]:
Ydummies

0      1
1      1
2      1
3      0
4      1
      ..
995    0
996    1
997    1
998    1
999    0
Name: comprou, Length: 1000, dtype: int64

In [12]:
Xdummies

     home  logado  busca_algoritmos  busca_java  busca_ruby
0       0       1                 1           0           0
1       0       0                 0           1           0
2       1       0                 1           0           0
3       1       1                 0           0           1
4       1       0                 0           0           1
..    ...     ...               ...         ...         ...
995     0       0                 0           0           1
996     0       0                 0           0           1
997     0       1                 0           1           0
998     1       0                 1           0           0
999     0       1                 0           0           1

[1000 rows x 5 columns]

In [13]:
# transformando em arrays para facilitar o trabalho:

X = Xdummies.values
Y = Ydummies.values

In [14]:
X

array([[0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0],
       ...,
       [0, 1, 0, 1, 0],
       [1, 0, 1, 0, 0],
       [0, 1, 0, 0, 1]])

In [15]:
Y

array([1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 0])

In [16]:
X.shape

(1000, 5)

In [17]:
Y.shape

(1000,)

In [18]:
tamanho_de_treino = int(0.8 * len(Y))
tamanho_de_teste = int(0.1 * len(Y))
tamanho_de_validacao = int(len(Y)-(tamanho_de_treino+tamanho_de_teste))

In [19]:
print(tamanho_de_treino)
print(tamanho_de_teste)
print(tamanho_de_validacao)

800
100
100

In [20]:
Xtreino = X[0:tamanho_de_treino]
Ytreino = Y[0:tamanho_de_treino]
Xteste = X[tamanho_de_treino:tamanho_de_treino+tamanho_de_teste]
Yteste = Y[tamanho_de_treino:tamanho_de_treino+tamanho_de_teste]
Xvalidacao = X[-tamanho_de_validacao:]
Yvalidacao = Y[-tamanho_de_validacao:]

In [21]:
Xtreino[0:5]

array([[0, 1, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0],
       [1, 1, 0, 0, 1],
       [1, 0, 0, 0, 1]])

In [22]:
Xteste[0:5]

array([[1, 1, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [1, 1, 1, 0, 0],
       [0, 1, 0, 0, 1],
       [1, 1, 0, 1, 0]])

In [23]:
Xvalidacao[0:5]

array([[0, 0, 0, 1, 0],
       [1, 0, 0, 1, 0],
       [1, 1, 1, 0, 0],
       [1, 0, 0, 1, 0],
       [1, 1, 1, 0, 0]])

In [24]:
#from sklearn.naive_bayes import MultinomialNB
#modelo = MultinomialNB()

from sklearn.ensemble import AdaBoostClassifier
modelo = AdaBoostClassifier()
modelo.fit(Xtreino, Ytreino)
resultado = modelo.predict(Xteste)

# calculando acurácia na mão
diferencas = resultado - Yteste
acertos = [d for d in diferencas if d == 0]
acuracia = 100.0*len(acertos)/len(Yteste)
print(acuracia)

84.0

In [25]:
# utilizando função do sklearn

from sklearn.metrics import accuracy_score
accuracy_score(Yteste, resultado)

0.84

In [26]:
def fit_and_predict(modelo, Xtreino, Ytreino, Xteste, Yteste):
  modelo.fit(Xtreino, Ytreino)
  resultado = modelo.predict(Xteste)

  # calculando acurácia na mão
  diferencas = resultado - Yteste
  acertos = [d for d in diferencas if d == 0]
  acuracia = 100.0*len(acertos)/len(Yteste)
  print('acurácia do modelo', modelo, '===>', acuracia)

In [27]:
# algoritmo de base
from sklearn.dummy import DummyClassifier
modelo = DummyClassifier()
fit_and_predict(modelo, Xtreino, Ytreino, Xteste, Yteste)

from sklearn.naive_bayes import MultinomialNB
modelo = MultinomialNB()
fit_and_predict(modelo, Xtreino, Ytreino, Xteste, Yteste)

from sklearn.ensemble import AdaBoostClassifier
modelo = AdaBoostClassifier()
fit_and_predict(modelo, Xtreino, Ytreino, Xteste, Yteste)

acurácia do modelo DummyClassifier() ===> 82.0
acurácia do modelo MultinomialNB() ===> 82.0
acurácia do modelo AdaBoostClassifier() ===> 84.0

In [28]:
# Escolhemos o AdaBoost... vamos avaliar no conjunto de validação:

from sklearn.metrics import accuracy_score
resultado = modelo.predict(Xvalidacao)
accuracy_score(Yvalidacao, resultado)

0.85

# Em suma:
1. O **conjunto de treinamento** eu utilizo para treinar os modelos. No caso aqui usamos dois: Naïve Bayes e AdaBoost. O DummyClassifier foi utilizado só para gerar um nível base (é um algoritmo bobo), abaixo da previsão deste é inadmissível.
2. O **conjunto de teste** eu utilizo para escolher o melhor modelo (escolhemos o AdaBoost, que teve o melhor desempenho).
3. O **conjunto de validação** é utilizado para uma última instância de teste do modelo (eu não usei o conjunto para treinar e nem para "escolher" o modelo).